.img1 {
    background: url(./images/yolo-1.png?__sprite);
}

.img2 {
    background: url(./images/yolo-2.png?__sprite);
}

.img3 {
    background: url(./images/yolo-3.png?__sprite);
}

.img4 {
    background: url(./images/yolo-4.png?__sprite);
}